@use "../../variables" as *;

.plan {
  text-align: center;
  padding-left: 0;
  margin-bottom: 24px;
  @media (min-width: $breakpoint-M) {
    margin-bottom: 0;
  }
  li {
    list-style: none;
    border: solid 1px $gray_gainsboro;
    padding: 20px 0;
    &:first-child {
      background-color: $orange_zorba;
      color: $white;
      font-weight: bold;
      font-size: $font-L;
      border: none;
    }
    &:not(:last-child) {
      border-bottom: none;
    }
  }
  .plan-price {
    background-color: $gray_desertStorm;
    padding: 24px 0;
    .plan-price-text {
      margin-bottom: 16px;
      color: $orange_bistre;
      font-weight: bold;
      font-size: $font-XXL;
      span {
        font-size: $font-L;
      }
    }
    .plan-price-per {
      font-size: $font-S;
      margin: 0;
    }
  }
  &:nth-child(even) {
    border: solid 5px $orange_bistre;

    li {
      &:first-child {
        background-color: $orange_bistre;
        padding: 15px 0 20px;
      }
      &:last-child {
        padding-bottom: 15px;
      }
    }
  }
}
