@use "../../variables" as *;

.plans {
  .plan {
    text-align: center;
    margin-bottom: 24px;
    border: solid 1px $gray_gainsboro;
    box-sizing: border-box;
    @media (min-width: $breakpoint-M) {
      margin-bottom: 0;
    }

    .plan-title {
      background-color: $orange_zorba;
      color: $white;
      font-weight: bold;
      font-size: $font-L;
      padding: 20px 0;
    }
    .plan-detail {
      dd {
        border: solid 1px $gray_gainsboro;
        padding: 20px 0;
        margin: 0;
      }

      .plan-price {
        background-color: $gray_desertStorm;
        padding: 24px 0;
        margin: 0;

        .plan-price-text {
          margin-bottom: 16px;
          color: $orange_bistre;
          font-weight: bold;
          font-size: $font-XXL;
          span {
            font-size: $font-L;
          }
        }
        .plan-price-per {
          font-size: $font-S;
          margin: 0;
        }
      }
    }
  }
}

.plans dl:nth-child(even) {
  border: solid 5px $orange_bistre;
  .plan-title {
    background-color: $orange_bistre;
  }
}
