<div class="plans">
    <dl class="plan">
        <dt class="plan-title">
            デイタイムプラン
        </dt>
        <div class="plan-detail">
            <dd class="plan-price">
                <p class="plan-price-text"><span>￥</span>5,000</p>
                <p class="plan-price-per">月額</p>
            <dd class="plan-admission">入会金0円</dd>
            <dd class="plan-weekday">平日：9時〜17時</dd>
            <dd class="plan-holiday">土日祝：利用ナシ</dd>
            <dd class="plan-tagline">コアタイムでの利用に最適なプラン</dd>
          </div>
    </dl>

    <dl class="plan">
        <dt class="plan-title">
            スタンダードプラン
        </dt>
        <div class="plan-detail">
            <dd class="plan-price">
                <p class="plan-price-text"><span>￥</span>5,000</p>
                <p class="plan-price-per">月額</p>
            <dd class="plan-admission">入会金0円</dd>
            <dd class="plan-weekday">平日：17時〜23時</dd>
            <dd class="plan-holiday">土日祝：営業時間全て</dd>
            <dd class="plan-tagline">営業時間内で終日ご利用可能なプラン</dd>
          </div>
    </dl>
  
    
</div>
