@use "../../variables" as *;

.organisms-events {
  .events-contents {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: $white;
    article {
      border: 1px solid $gray_gainsboro;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
      &:not(:last-child) {
        border-bottom: none;
      }
      a {
        text-decoration: none;
        display: flex;
        .events-img-wrapper {
          overflow: hidden;
          flex-shrink: 0;
          img {
            transition-duration: 0.5s;
            object-fit: contain;
          }
        }
        .events-article-title-time {
          padding: 37.5px 24px;
          h3 {
            font-size: $font-M;
            color: $black;
            transition-duration: 0.2s;
            margin-bottom: 8px;
            font-weight: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            &:hover {
              color: $orange_bistre;
            }
          }
          time {
            font-size: $font-XS;
            line-height: 12px;
            color: $gray_nobel;
            display: block;
          }
        }
      }
    }
  }
  .news-and-events-more-wrapper {
    text-align: right;
  }
}
@media (max-width: $breakpoint-L) {
  .organisms-events {
    padding-bottom: 35px;
    .events-contents {
      article {
        a {
          .events-article-title-time {
            padding: 10px 20px 16px;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
}
