@use "../../variables" as *;

.top {
  margin-bottom: 40px;
  .top-image-wrapper {
    height: 36vw;
    background-image: url(./top-image.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: $white;
      font-size: $font-L;
      font-family: $fontfamily-mincho;
      writing-mode: vertical-rl;
      margin: 0;
    }
  }
  .top-text-wrapper {
    background-color: $black;
    color: $white;
    .message {
      padding: 34px 20px 33px;
    }
  }
}

@media (min-width: $breakpoint-L) {
  .top {
    margin-bottom: 30px;
    .top-image-wrapper {
      height: 60vw;
      h2 {
        font-size: $font-XL;
      }
    }
    .top-text-wrapper {
      .message {
        padding: 52px 50px 74px;
      }
    }
  }
}
