@use "../../variables" as *;

.news-and-events-more {
  font-size: $font-S;
  font-family: $fontfamily-gothic;
  width: fit-content;
  transition: 0.2s;

  &:hover {
    color: $gray_nobel;
  }
}
.fa-solid.fa-chevron-right {
  padding-left: 16px;
}
