<header>
  <nav class="navbar navbar-expand-xl navbar-dark ">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" alt="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="img/humberger-icon.svg"></img></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link float-right d-xl-none icon-wrapper" href="#concept-collapse"  role="button" data-toggle="collapse"  aria-expanded="false" aria-controls="collapse">
            <img class="icon-plus" src="img/icon-plus.svg">
            <img class="icon-minus" src="img/icon-minus.svg">
          </a>
          <a class="nav-link concept d-none d-xl-block concept-xl" tabindex="-1" href="#concept-collapse"  role="button" data-toggle="collapse"  aria-expanded="false" aria-controls="collapse">CONCEPT</a>
          <a class="nav-link concept d-xl-none concept-lg" href="#">CONCEPT</a>
          <ul class="concept-menu collapse" id="concept-collapse">
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">ブログアーカイブ</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">お知らせアーカイブ</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">イベントアーカイブス</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">インタビューアーカイブ</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">FAQページ</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">固定ページ(デフォルト)</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">CONCEPT</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">SERVICE</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">FLOOR</a>
            </li>
            <li class="concept-item" href="#">
              <a class="concept-link-text" href="#">ACCESS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">SERVICE</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">FLOOR</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">INTERVIEW</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">ACCESS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">DOWNLOAD</a>
        </li>
      </ul>
    </div>
  </nav>  
</header>
