@use "../../variables" as *;

header {//TODO：必要ない記述を確認する
  .navbar {
    padding: 0 16px;
    background-color: $black;
    .navbar-brand {
      margin: 0;
      padding: 15px 0;
      img {
        height: 20px;
      }
    }
    .navbar-toggler {
      outline: none;
      border: none;
    }
    .navbar-nav {
      margin-left: 16px;
      .nav-item {
        font-size: $font-S;
        .nav-link {
          padding: 15px 0;
        }
        .icon-plus-wrapper{
          margin-top:13px;
          padding:0;
        }
        .concept-menu {
          margin-left: 12px;
          .dropdown-item { 
            padding: 15px 0px;
            color: $white;
            background-color: $black;
            font-size: $font-S;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-XL) {
  header {
    .navbar {
      padding: 0 30px;
      background-color: $black_50;
      .navbar-brand {
        img {
          height: 24px;
        }
      }
      .navbar-nav {
        margin-left: auto;
        .nav-item {
          .nav-link {
            cursor: pointer;
            padding: 35px 20px;
            &:hover {
              color: $gray_nobel;
            }
            &:focus+ .concept-menu{
              display: block;
            } 
          }
          .concept-menu { 
            position:absolute;
            display: none;
            .dropdown-item {
              padding: 18px 50px 18px 18px;
              &:hover {
                background-color: $orange_bistre;
                color: $white;
              }
            }
          } 
        }
      }
    }
  }
}
