@use "../../variables" as *;

.organisms-news {
  padding-bottom: 35px;

  .news-contents {
    margin-bottom: 30px;
    background-color: $white;
    article:nth-child(5) {
      border-bottom: 1px solid $gray_gainsboro;
    }

    article {
      padding: 20px;
      border: 1px solid $gray_gainsboro;
      border-bottom: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .news-time {
        font-size: $font-XS;
        color: $gray_nobel;
        margin-bottom: 10px;
        display: block;
      }
      .news-article-title {
        font-size: $font-M;
        color: $black;
        text-decoration: none;
        transition: 0.2s;
        &:hover {
          color: $orange_bistre;
        }
      }
    }
  }
  .news-and-events-more-wrapper {
    text-align: right;
  }
}
