<div class="organisms-news">
    <div class="news-events-title">
        <div class="news-events-title-container">
            <h2 class="news-events-title-EN">
                News
            </h2>
            <span class="news-events-title-JP">
                お知らせ
            </span>
        </div>
    </div>
    <div class="news-contents">
        <article>
            <time class="news-time">2018.06.20</time>
            <a class="news-article-title" href="#">ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。</a>
        </article>
        <article>
            <time class="news-time">2018.06.18</time>
            <a class="news-article-title" href="#">3種のレイアウトから選択できるテンプレートを固定ページに実装</a>
        </article>
        <article>
            <time class="news-time">2018.06.12</time>
            <a class="news-article-title" href="#">
                利用者からのご質問をまとめた「FAQ」ページをアップしました。
            </a>
        </article>
        <article>
            <time class="news-time"> 2018.06.08</time>
            <a class="news-article-title" href="#">
                デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
            </a>
        </article>
        <article>
            <time class="news-time">2018.06.02</time>
            <a class="news-article-title" href="#">
                テーマのアップデート情報について
            </a>
        </article>
    </div>
    <div class="news-and-events-more-wrapper">
        <a class="news-and-events-more" href="#" >
            お知らせ一覧
             <i class="fas fa-chevron-right"></i>
        </a>  
    </div>  

</div>
