@use "../../variables" as *;

.news-events-title {
  width: fit-content;

  .news-events-title-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 32px;

    .news-events-title-EN {
      font-family: $fontfamily-mincho;
      font-size: $font-L;
      margin-bottom: 0;
    }

    .news-events-title-JP {
      font-size: $font-M;
      margin-left: 16px;
    }
  }
}

@media (min-width: $breakpoint-L) {
  .news-events-title {
    .news-events-title-container {
      .news-events-title-EN {
        font-size: $font-XXL;
      }
      .news-events-title-JP {
        font-size: $font-M;
      }
    }
  }
}
