@use "../../variables" as *;

.about {
  margin-top:80px;
  margin-bottom: 40px;
  background-color: $white;
  .about-img-wrapper {
    .about-img {
      img {
        width: 100%;
      }
    }
  }
  .message {
    padding: 32px 24px 30px;
    background-color: $white_smoke;
    h2 {
      color: $orange_bistre;
    }
  }
}
@media (min-width: $breakpoint-L) {
  .about {
    padding: 0 16px 100px;
    .message {
      padding: 52px 27px;
    }
  }
}
